@media (max-width: 960px) {
  img {
    display: none;
  }
  .big-wrapper {
    text-align: center;
  }
  .buttons {
    align-items: center;
    justify-content: center;
  }
  .shown {
    display: block;
  }
  .text-size {
    font-size: 2rem;
  }
}
@media (max-width: 620px) {
  .footer-wrap {
    flex-wrap: wrap;
  }
  .space-wrap {
    margin: 1rem 0;
  }
  .no-padding {
    padding: 0.5rem;
  }
}
@media (max-width: 440px) {
  .text-size {
    font-size: 1rem;
  }
}
@media (max-width: 1220px) {
  .img1 {
    display: none;
    height: 25rem;
  }
}
.line {
  width: 100%;
  height: 0.08rem;
  background-color: black;
}
.translate {
  transform: translate(-50%, -50%);
}
